.container{
    width: 80%;
    padding-bottom: 5%;
    padding-top: 5%;
    margin: 0 auto;
}
.headline--secondary{
    color: rgb(100, 100, 100)
}
.form .headline--secondary{
    color: rgb(100, 100, 100);
    width: 95%;
    display:block;
    margin:auto;
}